doctype html
head
  meta(charset='utf-8')
  title To-Do
  meta(name='description' content='할 일 관리 서비스')
  meta(name='author' content='KKambi')
  // Mobile Specifc Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  // Favicon and Apple Icons
  link(rel='shortcut icon' href='/images/icons/favicon.ico')
  body
    block content
