extends layout

block content
    header#header-container
    main#main-container
        h1 로그인
        form#login-form.form(action='http://localhost:3000/api/auth/login' method='post')
            label(for='user')
                b 아이디
            input(type='text' placeholder='Enter Username' name='user' required='')
            label(for='password')
                b 비밀번호
            input(type='password' placeholder='Enter Password' name='password' required='')
            button#login-button(type="submit") 로그인
        .welcome-container
        .message-container
            if signed === 'false'
                span(style='color: red;')
                    | 아이디 또는 비밀번호가 정확하지 않습니다.

    footer